body {
  background-color: #141414;
  color: white;
  font-family: sans-serif;
}

.rightPanel {
  width: 75%;
  margin-left: 25%;
  height: 100%;
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

a:hover {
  color: #3498db;
}

.logo {
  float: left;
  line-height: 10px;
}

.menu {
  text-align: right;
}

.leftPanel {
  width: 23%;
  margin: 15px;
  padding: 0;
  position: fixed;
  display: inline-block;
  height: 100%;
  overflow: auto;
  background-color: #101010;
  font-size: 12px;
}

.navbar {
  background-color: #333;
  text-decoration: none;
  color: white;
  padding: 20px;
}
