body {
  background-color: #141414;
  color: white;
}
.rightPanel {
  width: 75%;
  margin-left: 25%;
  height: 100%;
  padding: 0;
}
.leftPanel {
  width: 25%;
  margin: 0;
  padding: 0;
  position: fixed;
  display: inline-block;
  height: 100%;
  overflow: auto;
  background-color: #101010;
}
.navbar {
  background-color: #333;
  color: white;
  padding: 1px;
}
